
.DS_Store

YRDropdownExample.xcodeproj/project.xcworkspace/xcuserdata/quadrani.xcuserdatad/UserInterfaceState.xcuserstate

YRDropdownExample.xcodeproj/xcuserdata/quadrani.xcuserdatad/xcschemes/YRDropdownExample.xcscheme

YRDropdownExample.xcodeproj/xcuserdata/quadrani.xcuserdatad/xcschemes/xcschememanagement.plist
